*, *:before, *:after {
    box-sizing: border-box; padding: 0; margin: 0;
    font-family: 'exo';
    font-size: 1.3rem;
    background-color: #2b2b2b;
    color: #EDEDED;
}

@font-face {
    font-family:'exo';
    src: url(typeface/exo/exo-variable.ttf);
}

@font-face {
    font-family: 'exo-italic';
    src: url(typeface/exo/exo-variable-italic.ttf);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section {
    width: 60vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 5rem;
}

nav {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #EDEDED;
}

h2 {
    color: #EDEDED;
}

h3 {
    color: #EDEDED;
}

p {
    color: #f76a6a;
}

a {
    text-decoration: none;
    padding: 0 2rem 0 2rem;
    color: #EDEDED;
}

a:hover {
    color: #a33131;
}

li {
    list-style-type: none;
}

.redBorder {
    padding-bottom: 1rem;
    border-bottom: 2px solid #f76a6a;
}

.textCenter {
    text-align: center;
}

.skillHeading {
    font-size: 1.5rem;
    color: #f76a6a;
}

.highlighted {
    color: #EDEDED;
    font-weight: 600;
}

.nested {
    padding-left: 1.5rem;
}

.listContainer {
    width: 20rem;
}

.iconResizer {
    width: 64px;
    height:64px
}

.icon {
    width: 100%;
    height: 100%;
}

#myName {
    font-size: 2.5rem;
}

#infoHeadings {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0 1rem 0;
}

#infoHeadings > *{
    text-align: center;
    align-items: center;
    justify-content: center;
}

#infoP {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0 1rem 0;
}

#infoP > p {
    padding: 0 0 1rem 0;
}

#skills {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    width: 100%;
    padding: 2rem 0 2rem 0;
}

#frontEndList > li{
    font-weight: 600;
}

#backEndList {
    font-weight: 600;
}
