*, *:before, *:after {
    box-sizing: border-box; padding: 0; margin: 0;
    font-family: 'exo', 'Unispace', 'PT Mono';
    font-size: 1.3rem;
    background-color: #2b2b2b;
    color: #EDEDED;
}

@font-face {
    font-family:'exo';
    src: url(typeface/exo/exo-variable.ttf);
}

@font-face {
    font-family: 'exo-italic';
    src: url(typeface/exo/exo-variable-italic.ttf);
    font-display: swap;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section {
    width: 60vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 5rem;
}

nav {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #EDEDED;
    font-size: 1.3em;
    padding: 0 0 1.5vh 0;
}

h2 {
    color: #EDEDED;
}

h3 {
    color: #EDEDED;
}

p {
    color: #f76a6a;
}

li {
    list-style-type: none;
    padding: 1.5vh 0 0 0;
}

.nav {
    text-decoration: none;
    padding: 0 2rem 0 2rem;
    color: #EDEDED;
}

.nav:hover {
    color: #a33131;
}

.redBorder {
    padding-bottom: 1rem;
    border-bottom: 2px solid #f76a6a;
}

.textCenter {
    text-align: center;
}

.skillHeading {
    font-size: 1.5rem;
    color: #f76a6a;
}

.highlighted {
    color: #EDEDED;
    font-weight: 600;
}

.sneaky {
    font-style: italic;
}

.nested {
    padding: 0 0 0 1.5rem;
    margin: 0 0 0 0;
}

.listContainer {
    width: 80vw;
}

.contact {
    margin-top: 5vh;
    width: 100vw;
}

.iconResizer {
    width: 64px;
    height: 64px;
    margin: 0 16px 0 16px
}

.icon {
    width: 100%;
    height: 100%;
    transition: transform 0.2s;
}

.icon:hover {
    transform: scale(1.15);
}

.aboutHeader {
    font-size: 1.2em;
}

.projectText > h1 {
    text-align: center;
}

.projectText > p {
    text-align: center;
    margin-top: 1vh;
}

.groupMates {
    text-decoration: none;
}

.groupMates:hover {
    color: #a33131;
}

.groupMates:active {
    color: #a33131;
}

#myName {
    font-size: 2.5em;
    transition: color 0.3s;
}

#myName:hover {
    color: #f76a6a;
}

.tsct {
    text-decoration: none;
    color: #EDEDED;
}

.tsct:hover {
    color: #a33131;
}

.tsct:active {
    color: #a33131;
}

#infoHeadings {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0 1rem 0;
}

#infoHeadings > *{
    text-align: center;
    align-items: center;
    justify-content: center;
}

#infoP {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 100%;
    padding: 1rem 0 1rem 0;
}

#infoP > p {
    padding: 0 0 1rem 0;
}

#summary > p {
    padding: 1.5vh 0 1.5vh 0;
}

#toolbelt {
    margin-bottom: 5vh;
}

#skills {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    width: 100%;
    padding: 2rem 0 0 0;
}

#frontEndList > li{
    font-weight: 600;
}

#backEndList {
    font-weight: 600;
}

#iconContainer {
    display: flex;
    justify-content: center;
    padding: 30px 0 0 0;
    margin: 0 0 5vh 0;
}

#yore {
    width: 75vw;
    height: 90vh;
    margin: 5vh 0 5vh 0;
    border: 2px solid #EDEDED;
    border-radius: 10px;
}

#yoreLink {
    text-decoration: none;
}

#yoreLink:hover {
    color: #a33131;
}

@media screen and (max-width: 650px) {

    p {
        font-size: 0.8em;
    }

    p > span > a {
        font-size: 1em;
    }

    section {
        max-width: 100vw;
    }

    h1 {
        font-size: 1rem;
    }

    li {
        font-size: 0.8em;
    }

    #summary > h2 {
        padding-top: 5vh;
    }

    #toolbelt {
        margin-bottom: 0;
    }

    .nav {
        padding: 0 3vw 0 3vw;
    }

    .highlighted {
        font-size: 1rem;
    }

    .listContainer {
        width: 100%;
        padding: 3vh 0 3vh 0;
    }

    .contact {
        margin-top: 10vh;
        width: 100vw;
    }

    .projectText > h1 {
        font-size: 1.5rem;
        width: 90vw;
    }

    #myName {
        font-size: 1.75rem;
        transition: color 0.2s;
    }

    #myName:hover {
        color: #f76a6a;
    }

    #infoHeadings {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.5rem 0 0.5rem 0;
    }
    
    #infoHeadings > *{
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    #infoP {
        width: 80vw;
    }

    #skills {
        flex-direction: column;
    }

    #summary {
        width: 80vw;
    }

    #yore {
        width: 100vw;
        border: none;
        border-radius: 0px;
    }

    #yoreLink {
        font-size: 1rem;
    }

}
